@imort Url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.root-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.bg {
    
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex {
    display: flex;
}

.text-01 {
    color: #131313;
}

.text-02 {
    color: #424242;
}

.text-03 {
    color: #727272;
}

.text-main {
    color: #ff900e;
}
 
.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}
.btn-primary {
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
 main > section {
    margin-top: 130px;
 }

/* nav styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.navbar h3 {
    font-size: 3rem;
    font-weight: 700;

}
.nav-links {
    list-style: none;
    
}
.nav-items {
    margin-right: 30px;
}
.nav-links a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: ;
}
/* banner styles */
.banner-content {
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title {
    font-size: 4rem;
    font-weight: 700;
}
.banner .banner-image {
    width: 100%;
}

/* teams and features style */
.teams {
    align-items: center;
}
.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.team-features {
    margin-left: 70px;
    max-width: 530px;
}
.team-features span {
    font-size: 45px;
    font-weight: bold;
}
.team-features span:nth-child(1) {
    font-weight: 500;
}

/* features section style  */
.features-container {
    gap: 140px;
}
#features-section-title {
    border-left: 5px solid #ff900e;
    padding-left: 21px;
}
.features-card {
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}
.features-card .features-c-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#exp-badge {
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -100px;
}
.features-img img {
    width: 100%;
}

/* fact section style  */

.facts {
    /* padding: 50px 10%; */
    /* border: 1px solid black; */
}
.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 10%;
}
.fact-card {
    border: 1px solid #ff900e;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-number {
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-description {
    max-width: 540px;
}

/* sponsor style */
.sponsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
}
.sponsor-companies img {
    filter: grayscale(100%);
}

/* footer style  */
footer {
    max-width: 1440px;
    margin: 0 auto;
}
.footer-container {
    height: 100px;
    margin-top: 130px;
    margin-bottom: 150px;
}
.footer-container .footer-text {
    text-align: center;
    padding: 40px;
}

/* responsive media quary  */
@media screen and (max-width: 576px) {
    body {
        max-width: 100vw;
    }
.navbar, 
 
.teams {
    flex-direction: column;
}
.nav-items{
    margin-right: 10px;
}
.nav-links li {
    margin-top: 10px;
}
.teams .team-img-container, 
.facts-container,
.features-container,
.sponsor-companies {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
}
.team-features{
    margin-left: 20px;
}
.facts-container {
    justify-items: center;
    gap: 24px;
}
.sponsor-companies {
    justify-items: center;
    gap: 24px;
}
#exp-badge {
    margin-top: 20px;
    margin-left: 40px;
}


}